<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/persistence_hibernate?useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=UTC</property>
        <property name="connection.username">persistence_hibernate_user</property>
        <property name="connection.password">password</property>

        <!-- SQL Dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Create/Update database tables automatically using mapping metadata -->
        <property name="hbm2ddl.auto">update</property>

        <property name="hibernate.show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="com.hibernate.basic._01_component_mapping.entity.Person" />
        <mapping class="com.hibernate.basic._02_one_to_many.entity.Guide" />
        <mapping class="com.hibernate.basic._02_one_to_many.entity.Student" />
        <mapping class="com.hibernate.basic._03_one_to_one.entity.Customer" />
        <mapping class="com.hibernate.basic._03_one_to_one.entity.Passport" />
        <mapping class="com.hibernate.basic._04_mapsid.entity.Customer2" />
        <mapping class="com.hibernate.basic._04_mapsid.entity.Passport2" />
        <mapping class="com.hibernate.basic._05_many_to_many.entity.Actor" />
        <mapping class="com.hibernate.basic._05_many_to_many.entity.Movie" />
        <mapping class="com.hibernate.basic._06_mapping_enums.entity.Employee" />
        <mapping class="com.hibernate.basic._07_collection_of_value_types.entity.Friend" />
        <mapping class="com.hibernate.basic._07_collection_of_value_types.entity.Item" />
        <mapping class="com.hibernate.basic._08_composite_keys.primary.entity.Parent" />
        <mapping class="com.hibernate.basic._08_composite_keys.primary.entity.Child" />
        <mapping class="com.hibernate.basic._08_composite_keys.foreign.entity.Department" />
        <mapping class="com.hibernate.basic._08_composite_keys.foreign.entity.User" />
        <mapping class="com.hibernate.basic._09_bookstore.entity.Book" />
        <mapping class="com.hibernate.basic._09_bookstore.entity.Chapter" />
        <mapping class="com.hibernate.basic._09_bookstore.entity.Publisher" />

    </session-factory>

</hibernate-configuration>